@model List<ResultBrandDto>
@{
    ViewData["Title"] = "BrandList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0; 
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="/Brand/CreateBrand" class="btn btn-primary">Yeni Marka Girişi</a>
                    <h4 class="card-title">Araç Listesi</h4>


                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Logo</th>
                                <th>Marka</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td><img src="@item.logo" style="height:125px; width:125px; border-radius:15px;" /></td>
                                    <td>@item.name</td>
                                    <td><a href="/Brand/UpdateBrand/@item.brandId" class="btn btn-info">Düzenle</a></td>
                                    <td><a href="/Brand/DeleteBrand/@item.brandId" class="btn btn-danger">Sil</a></td>
                                </tr>

                            }

                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>

</div>

