
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="bg-white">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28264.83239839668!2d32.86501997656023!3d39.96306472795478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34dc7dd7b37f7%3A0x10769f33840b15e0!2zQXRhdMO8cmsgQmFow6dlc2k!5e0!3m2!1str!2str!4v1725344203036!5m2!1str!2str" width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
