@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    @await Component.InvokeAsync("_DashboardStatisticComponentPartial")

    <div class="row">
        @await Component.InvokeAsync("_DashboardChartOneComponentPartial")

        @await Component.InvokeAsync("_DashboardChartTwoComponentPartial")

        @await Component.InvokeAsync("_DashboardChartThreeComponentPartial")
    </div>

    <div class="row">
        @await Component.InvokeAsync("_DashboardCarPricingListComponentPartial")

        @await Component.InvokeAsync("_DasboardBlogListComponentPartial")
      
    </div>
</div>