@model ResultLocationDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #drop option{
        color:black;
    }
</style>

@await Component.InvokeAsync("_MainHeroComponentPartial")

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form method="post" class="request-form ftco-animate bg-primary">
                            <h2>Make your trip</h2>
                            <div class="form-group">
                                <label for="" class="label">Alış Ofisi Seçiniz</label>
                                @Html.DropDownListFor(x => x.locationId, (List<SelectListItem>)ViewBag.LocationDrop, new { @class = "form-control", @id = "drop" })
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Alış Tarihi</label>
                                    <input type="text" class="form-control" name="pick_date" id="book_pick_date" placeholder="Gün">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Alış Saati</label>
                                    <input type="text" class="form-control" name="time_pick" id="time_pick" placeholder="Saat">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">İade Tarihi</label>
                                    <input type="text" class="form-control" name="off_date" id="book_off_date" placeholder="Gün">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">İade Saati</label>
                                    <input type="text" class="form-control" name="time_off" id="time_pick_off" placeholder="Saat">
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                            <button type="submit" class="btn btn-secondary py-3 px-4">Uygun Araçları Listele</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Araba Kiralamanın En Kolay Hali</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Size Yakın Kiralama Noktası</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Kolay Kiralama</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Aracınızı Çağırın</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a href="/Car/Index" class="btn btn-primary py-3 px-4">Araç Listesi</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_FeatureComponentPartial")

@await Component.InvokeAsync("_AboutUsComponentPartial")

@await Component.InvokeAsync("_ServiceComponentPartial")

@await Html.PartialAsync("/Views/Shared/UILayoutPartial/_MiniAboutPartial.cshtml")

@await Component.InvokeAsync("_TestimonialComponentPartial")

@await Component.InvokeAsync("_RecentBlogComponentPartial")
