@model GetSingleBlogAuthorDto
<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="@Model.ImageUrl" alt="Image placeholder" style="height:150px; width:200px; border-radius:15px;" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
    </div>
</div>
