@model List<ResultCategoryDto>

<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>
        <ol>
            @foreach(var item in Model)
            {
                <li><a href="#">@item.Name </a></li>
            }
            
        </ol>
    </div>
</div>