@model UpdateLocationDto
@{
    ViewData["Title"] = "UpdateLocation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12">

        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Harita Bilgisi  Güncelleme Sayfası</h4>


                <form class="form-horizontal" method="post">
                    <input type="hidden" asp-for="locationId" />
                    <div class="form-group row mb-3">
                        <label class="col-3 col-form-label">Harita Bilgisi Url</label>
                        <div class="col-9">
                            <input type="text" class="form-control" asp-for="locationName" >
                        </div>
                    </div>
                  

                    <div class="form-group mb-0 justify-content-end row">
                        <div class="col-9">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Kaydet</button>
                            <a href="/Location/LocationList" class="btn btn-dark waves-effect">Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div> <!-- end card-body-->
        </div>

    </div>
</div>
