@model List<ResultServiceDto>
@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="/Service/CreateService" class="btn btn-primary" style="position:absolute; right:5px; top:5px;">Yeni Servis Girişi</a>
                    <h4 class="card-title">Servislerim</h4>


                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>İcon</th>
                                <th>Açıklama</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.title</td>
                                    <td><i class="fa-regular @item.iconUrl"></i></td>
                                    <td>@item.description</td>
                                    <td><a href="/Service/UpdateService/@item.serviceId" class="btn btn-info">Düzenle</a></td>
                                    <td><a href="/Service/DeleteService/@item.serviceId" class="btn btn-danger">Sil</a></td>
                                </tr>

                            }

                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>

</div>
