@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "SocialMediaList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0; 
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="/SocialMedia/CreateSocialMedia" class="btn btn-primary" style="position:absolute; right:5px; top:5px;">Yeni Medya Girişi</a>
                    <h4 class="card-title">Araç Listesi</h4>
                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Icon</th>
                                <th>Medya</th>
                                <th>Url</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td><i class="@item.Icon" style="height:75px; width:50px;"></i></td>
                                    <td>@item.Name</td>
                                    <td>@item.Url</td>
                                    <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-info">Düzenle</a></td>
                                    <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>