@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="/Category/CreateCategory" class="btn btn-primary" style="position:absolute; right:5px; top:5px;">Yeni Kategori Girişi</a>
                    <h4 class="card-title">Kategori Listesi</h4>
                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Bloglar</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td><a href="#" class="btn" style="background-color:peru; color:white;">Görüntüle</a></td>
                                    <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-info">Düzenle</a></td>
                                    <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>