@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kategori Ekleme Sayfası</h4>
                <form class="form-horizontal" method="post">
              
                    <div class="form-group row mb-3">
                        <label class="col-3 col-form-label">Kategori Başlığı</label>
                        <div class="col-9">
                            <input type="text" class="form-control" asp-for="Name" placeholder="Kategori Başlığı">
                        </div>
                    </div>

                    <div class="form-group mb-0 justify-content-end row">
                        <div class="col-9">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Kaydet</button>
                            <a href="/Category/CategoryList" class="btn btn-dark waves-effect">Vazgeç</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

