

<div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
	<p>Güçlü motor performansı ve modern tasarımıyla bu araç, hem şehir içi hem de uzun yolculuklar için ideal. Geniş iç hacmi, gelişmiş güvenlik donanımları ve kullanıcı dostu multimedya sistemi ile konforlu bir sürüş sunar. </p>
	<p>Yakıt tasarruflu motoru sayesinde bütçenizi korurken, yüksek manevra kabiliyeti ve arka park sensörleri ile park etme işlemlerini kolaylaştırır. İster iş, ister tatil için kullanın, her türlü seyahatinizi keyifli ve rahat hale getirecek özelliklere sahiptir.</p>
</div>
