@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">İstatistik</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item active">İstatistik</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    
    <div class="row">
        <!--A1-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#065f46;">

                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Daily</span>
                        <h5 class="card-title mb-0 text-white">Cost per Unit</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                           A1
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> 
        <!--A1 END-->
        
        <!--A2-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#065f46;">

                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Per Week</span>
                        <h5 class="card-title mb-0 text-white">Market Revenue</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                               A2
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div> 
        <!--A2 END-->

        <!--A3-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#065f46;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Per Month</span>
                        <h5 class="card-title mb-0 text-white">Expenses</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                               A3
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--A3 END-->

        <!--A4-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#065f46;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">All Time</span>
                        <h5 class="card-title mb-0 text-white">Daily Visits</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                             A4
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                    </div>
                </div>
            </div>
        </div> 
        <!--A4 END-->
    </div>

    <div class="row">
        <!--B1-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#115e59;">

                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Daily</span>
                        <h5 class="card-title mb-0 text-white">Cost per Unit</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                B1
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--B1 END-->

        <!--B2-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#115e59;">

                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Per Week</span>
                        <h5 class="card-title mb-0 text-white">Market Revenue</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                B2
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--B2 END-->

        <!--B3-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#115e59;">

                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Per Month</span>
                        <h5 class="card-title mb-0 text-white">Expenses</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                B3
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--B3 END-->

        <!--B4-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#115e59;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">All Time</span>
                        <h5 class="card-title mb-0 text-white">Daily Visits</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                B4
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--B4 END-->
    </div>

    <div class="row">
        <!--C1-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#155e75;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Daily</span>
                        <h5 class="card-title mb-0 text-white">Cost per Unit</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                               C1
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--C1 END-->

        <!--C2-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#155e75;">

                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Per Week</span>
                        <h5 class="card-title mb-0 text-white">Market Revenue</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                C2
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--C2 END-->

        <!--C3-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#155e75;">

                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Per Month</span>
                        <h5 class="card-title mb-0 text-white">Expenses</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                C3
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--C3 END-->

        <!--C4-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#155e75;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">All Time</span>
                        <h5 class="card-title mb-0 text-white">Daily Visits</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                               C4
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--C4 END-->
    </div>

    <div class="row">
        <!--D1-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#075985;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Daily</span>
                        <h5 class="card-title mb-0 text-white">Cost per Unit</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                D1
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--D1 END-->

        <!--D2-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#075985;">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Per Week</span>
                        <h5 class="card-title mb-0 text-white">Market Revenue</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                D2
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--D2 END-->

        <!--D3-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#075985;">
               
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Per Month</span>
                        <h5 class="card-title mb-0 text-white">Expenses</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                               D3
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--D3 END-->

        <!--D4-->
        <div class="col-md-6 col-xl-3">
            <div class="card" style="background-color:#075985;">

                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">All Time</span>
                        <h5 class="card-title mb-0 text-white">Daily Visits</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                               D4
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--D4 END-->
    </div>

</div>
