<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
            <a href="/Home/Index" class="waves-effect"><i class="fa-regular fa-up-right-from-square"></i><span>Siteye Git</span></a>
        </li>
        <li>
            <a href="/Dashboard/Index" class="waves-effect"><i class="fa-regular fa-chart-pie"></i><span>Dashboard</span></a>
        </li>
        <li>
            <a href="/Statistic/Index" class="waves-effect"><i class="fa-regular fa-chart-simple"></i><span>İstatistik</span></a>
        </li>
        <li>
            <a href="/Car/CarList" class="waves-effect"><i class="fa-regular fa-car-side"></i><span>Araba İşlemleri</span></a>
        </li>
        <li>
            <a href="/Brand/BrandList" class="waves-effect"><i class="fa-regular fa-medal"></i><span>Marka İşlemleri</span></a>
        </li>
            <li>
            <a href="/Service/ServiceList" class="waves-effect"><i class="fa-regular fa-bell-concierge"></i><span>Hizmetler</span></a>
        </li>
        <li>
            <a href="/Testimonial/TestimonialList" class="waves-effect"><i class="fa-regular fa-face-smiling-hands"></i><span>Müşteri Düşünceleri</span></a>
        </li>
        <li>
            <a href="/Contact/ContactList" class="waves-effect"><i class="fa-regular fa-phone-volume"></i><span>İletişim</span></a>
        </li>
        <li>
            <a href="/Address/UpdateAddress" class="waves-effect"><i class="fa-regular fa-location-dot"></i><span>Adres Bilgileri</span></a>
        </li>
        <li>
            <a href="/Location/LocationList" class="waves-effect"><i class="fa-regular fa-map-location-dot"></i><span>Harita İşlemleri</span></a>
        </li>
    </ul>
</div>
