<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
            <a href="/Home/Index" class="waves-effect"><i class="fa-regular fa-up-right-from-square" style="color: #7dd3fc;"></i><span>Siteye Git</span></a>
        </li>

        <li>
            <a href="/AdminDashboard/Index" class="waves-effect"><i class="fa-regular fa-chart-pie" style="color: #7dd3fc;"></i><span>Dashboard</span></a>
        </li>

        <li>
            <a href="/Statistic/Index" class="waves-effect"><i class="fa-regular fa-chart-simple" style="color: #7dd3fc;"></i><span>İstatistik</span></a>
        </li>

        <li>
            <a href="/AdminAbout/AboutList" class="waves-effect"><i class="fa-regular fa-fingerprint" style="color: #7dd3fc;"></i><span>Hakkımızda</span></a>
        </li>

        <li>
            <a href="/AdminBlog/BlogList" class="waves-effect"><i class="fa-regular fa-file-word" style="color: #7dd3fc;"></i><span>Blog İşlemleri</span></a>
        </li>

        <li>
            <a href="/Car/CarList" class="waves-effect"><i class="fa-regular fa-car-side" style="color: #7dd3fc;"></i><span>Araba İşlemleri</span></a>
        </li>

        <li>
            <a href="/Brand/BrandList" class="waves-effect"><i class="fa-regular fa-medal" style="color: #7dd3fc;"></i><span>Marka İşlemleri</span></a>
        </li>

        <li>
            <a href="/Service/ServiceList" class="waves-effect"><i class="fa-regular fa-bell-concierge" style="color: #7dd3fc;"></i><span>Hizmetler</span></a>
        </li>

        <li>
            <a href="/Testimonial/TestimonialList" class="waves-effect"><i class="fa-regular fa-face-smiling-hands" style="color: #7dd3fc;"></i><span>Müşteri Düşünceleri</span></a>
        </li>

        <li>
            <a href="/Contact/ContactList" class="waves-effect"><i class="fa-regular fa-phone-volume" style="color: #7dd3fc;"></i><span>İletişim</span></a>
        </li>

        <li>
            <a href="/Address/UpdateAddress" class="waves-effect"><i class="fa-regular fa-location-dot" style="color:#7dd3fc;"></i><span>Adres Bilgileri</span></a>
        </li>

        <li>
            <a href="/Location/LocationList" class="waves-effect"><i class="fa-regular fa-map-location-dot" style="color:#7dd3fc;"></i><span>Harita İşlemleri</span></a>
        </li>

        <li>
            <a href="/Category/CategoryList" class="waves-effect"><i class="fa-regular fa-boxes-stacked" style="color:#7dd3fc;"></i><span>Kategoriler</span></a>
        </li>

        <li>
            <a href="/Feature/FeatureList" class="waves-effect"><i class="fa-regular fa-microchip" style="color: #7dd3fc;"></i><span>Araç Donanım</span></a>
        </li>

        <li>
            <a href="/SocialMedia/SocialMediaList" class="waves-effect"><i class="fa-regular fa-icons" style="color: #7dd3fc;"></i><span>Medya Hesaplarımız</span></a>
        </li>

        <li>
            <a href="/Banner/BannerList" class="waves-effect"><i class="fa-regular fa-book-open-cover" style="color: #7dd3fc;"></i><span>Kapak İşlemleri</span></a>
        </li>

    </ul>
</div>
